body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #121212;
}

.app {
  text-align: center;
  background-color: #1f1f1f;
  padding: 2rem;
  border-radius: 5px;
}

h1 {
  color: #007bff;
  margin-bottom: 1.5rem;
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
  color: #ccc;
}

input {
  padding: 5px;
  border: 1px solid #888;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #ccc;
  background-color: #2d2d2d;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#result, #category {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  color: #ccc;
}
